<div class="row" style="margin-top: 20px;">
    <div class="col-5">
        <div class="input-group">
            <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
                (change)="handleFileInput($event.target)" aria-label="Upload">
        </div>
    </div>
    <div class="col-3">
        <button type="button" (click)="pixelit()" class="btn btn-primary">Pixel It!</button>
    </div>
</div>
<div class="row">
    <img test style="width: 100px" [src]="fileUpload" />
</div>


